/* add styles here */
.sidebar {
    padding: 45px;
}

.current-conditions-data {
    font-size: 300%;
    font-weight: bold;
    margin: 0;
}

.records-data {
    font-size: 150%;
}

#navbar {
    background-color: #999;
    color: #eee;
    height: 4em;
    line-height: 4em;
}

#navbar ul li {
    float: left;
    margin: 0 2em;
}

#navbar ul li:last-child {
    float: right;
}

#navbar a:visited{
    color:#eee;
}

#navbar .title {
    font-weight: bold;
    font-size: 3em;
}

#calendar table {
    margin-top: 3em;
    border: solid black 6px;
    border-collapse: collapse;
}

#calendar td {
    border: solid black 2px;
    margin: 0;
    padding: 1em;
    height: 6em;
    width: 6em;
    line-height: 0.5em;
    vertical-align: top;
}

#calendar td:hover {
    background-color: #bbb;
}

.date {
    font-size: 75%;
    font-weight: bold;
    text-align: right;
}

#calendar a{
    text-decoration: none;
    color: black;
}

#calendar a:visited {
    color: black;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

ul {
  list-style: none;
}
